<h1 class="home-title">EventLike</h1>
<div class="home-description">
  <p>Want to plan some events and invite some friends to have some fun?</p>
  <p>Sign up today for EventLike, and you can get your friends to join all of the events you can think of!</p>
</div>
